
    body { 
      margin:0;
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
    	font-family: sans-serif;
    }

    .selected {
      fill: none;
    }
    
    .button {
      min-width: 130px;
      padding: 4px 5px;
      cursor: pointer;
      text-align: center;
      font-size: 13px;
      border: 1px solid #e0e0e0;
      text-decoration: none;
    }

    .button.active {
      background: #000;
      color: #fff;
    }

    div.tooltip {
      position: absolute;
      text-align: center;
      width: 150px;
      height: 60px;
      padding: 2px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
    

